// Styling for the skills section
#skills{
    .text-center.col-6.col-md-3.col-lg-3:hover {
        animation-name: bob-animation-float, bob-animation;
        animation-duration: .3s, 2s;
        animation-delay: 0s, .3s;
        animation-timing-function: ease-out, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;
    }
    .skill-box {
        max-width: 400px;
        margin: 50px auto 0;
        @media (min-width: 992px) {
            margin: 20px auto 0;
        }
        p {
            margin-bottom: 0;
        }
        svg {
            width: 64px;
            height: 64px;
        }
        h5{
            font-weight: 600;
        }
    }
}
/*========= Bob-animation for the icons ==========*/
@-webkit-keyframes bob-animation{
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-animation{
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-animation-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-animation-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}