// Styling for the skills section
#skills{
    .text-center.col-6.col-md-3.col-lg-3:hover {
        animation-name: bob-animation;
        animation-duration: .75s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    .skill-box {
        max-width: 400px;
        margin: 50px auto 0;
        @media (min-width: 992px) {
            margin: 20px auto 0;
        }
        p {
            margin-bottom: 0;
        }
        svg {
            width: 64px;
            height: 64px;
        }
        h5{
            font-weight: 600;
        }
    }
}
/*========= Bob-animation for the icons ==========*/
@-webkit-keyframes bob-animation{
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bob-animation{
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bob-animation-float {
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes bob-animation-float {
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}