#header{
    height: 20vh;
    background-color: transparent;
    padding: 10px;
    div{
        display: inline-block;
    }
}
#setting img,#about img{
    width:15vw;
    max-width: 200px;
    border: 5px solid #0b6fa4;
}
#title,#about,#setting{
    text-align: center;
}
#title img{
    width:25vw;
    max-width: 250px;
}